<div style="background-color:white;margin:0;padding:0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellspacing="0" cellpadding="0"
                        style="margin:0 auto;max-width:600px;width:100%;padding:1px">
                        <tbody>
                            <tr>
                                <td align="center"
                                    style="background-color:#ffffff;margin:0;padding:0;border:1px solid #b2b2b2">
                                    <!-- HEADER STARTS -->
                                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td align="center"
                                                    style="border-top:5px solid #336699;margin:0;padding:0;padding-bottom:0px;text-align:left">
                                                    <table cellspacing="0" cellpadding="0" border="0"
                                                        style="margin:0 auto;text-align:left;width:90%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="margin:0;padding:15px 0">
                                                                    <img style="width:137.25px;height:30px;"
                                                                        src="https://api.joinblueberry.com/images/logo.png"
                                                                        alt="Logo">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="margin:0;padding:0">
                                                                    <table border="0" cellspacing="0" cellpadding="0"
                                                                        style="width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:42px;font-weight:bold;line-height:52px;margin:0;padding:0;padding-bottom:10px;padding-top:10px;text-align:center">
                                                                                    <font face="Arial">Nice work
                                                                                        applying for life insurance!
                                                                                    </font>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="color:#2b2727;font-size:19px;line-height:30px;margin:0;padding:0;padding-bottom:20px;text-align:center">
                                                                                    <font face="Arial">Your next step is
                                                                                        a quick call.</font>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="font-family:'AdelleSans-Light',Arial,sans-serif;font-size:14px;line-height:20px;color:#4d4d4d;padding-bottom:0px"
                                                                                    valign="top">
                                                                                    <table>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td height="35px"
                                                                                                    width="35px">
                                                                                                    <img style="padding-right:10px;padding-top:10px"
                                                                                                        src="https://api.joinblueberry.com/icons/phone.png"
                                                                                                        height="35px"
                                                                                                        class="CToWUd">
                                                                                                </td>
                                                                                                <td>
                                                                                                    <div
                                                                                                        style="color:#336699;font-size:28px;line-height:36px">
                                                                                                        <a href="tel:+18339282583"
                                                                                                            style="padding-bottom:0px;color:#336699;text-decoration:none;margin:0;overflow:hidden;max-height:0;width:0;font-weight:bold"
                                                                                                            target="_blank">
                                                                                                            +1-833-928-2583
                                                                                                        </a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:14px;line-height:24px;margin:0;padding:0;padding-bottom:20px;text-align:center">
                                                                                    <font face="Arial">
                                                                                        We're here until
                                                                                        8pm PST today!
                                                                                    </font>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- HEADER END -->

                                    <!-- CONTENT STARTS -->
                                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td style="margin:0;padding:0">
                                                    <table cellpadding="0" cellspacing="0" border="0"
                                                        style="width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="margin:0;padding:0;vertical-align:top;width:100%">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="margin:0 auto;text-align:left;width:90%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="margin:0;padding:0">
                                                                                    <table border="0" cellspacing="0"
                                                                                        cellpadding="0"
                                                                                        style="width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-top:20px">
                                                                                                    <font face="Arial">
                                                                                                        Before we submit
                                                                                                        your life
                                                                                                        insurance
                                                                                                        application, we
                                                                                                        are required to
                                                                                                        connect with you
                                                                                                        over the phone.
                                                                                                        We'll keep
                                                                                                        trying you, but
                                                                                                        you can also
                                                                                                        give us a ring!
                                                                                                    </font>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td style="margin:0;padding:0">
                                                    <table cellpadding="0" cellspacing="0" border="0"
                                                        style="width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="margin:0;padding:0;vertical-align:top;width:100%">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="margin:0 auto;text-align:left;width:90%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="margin:0;padding:0">
                                                                                    <table border="0" cellspacing="0"
                                                                                        cellpadding="0"
                                                                                        style="width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:26px;font-weight:bold;line-height:34px;margin:0;padding:0;padding-bottom:15px;padding-top:40px">
                                                                                                    <font face="Arial">
                                                                                                        Here's what
                                                                                                        we'll cover:
                                                                                                    </font>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="margin:0;padding:0;padding-bottom:0px;padding-top:0px;text-align:center">
                                                                                                    <table dir="ltr"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        style="margin:0 auto;text-align:left;width:100%;padding:0px 0px 20px 0px">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="left"
                                                                                                                    style="width:90px;margin:0;padding:0;padding-top:0px;vertical-align:top">
                                                                                                                    <img alt="Health icon"
                                                                                                                        src="https://api.joinblueberry.com/icons/health.png"
                                                                                                                        border="0"
                                                                                                                        height="70"
                                                                                                                        width="auto"
                                                                                                                        style="border:none;font-size:16px">
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-bottom:20px">
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        <span
                                                                                                                            style="font-size:19px;line-height:30px">
                                                                                                                            Your
                                                                                                                            health
                                                                                                                            history
                                                                                                                        </span>
                                                                                                                    </font>
                                                                                                                    <br>
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        We'll
                                                                                                                        review
                                                                                                                        the
                                                                                                                        details
                                                                                                                        to
                                                                                                                        ensure
                                                                                                                        underwriting
                                                                                                                        goes
                                                                                                                        smoothly.
                                                                                                                    </font>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td align="left"
                                                                                                                    style="width:90px;margin:0;padding:0;padding-top:0px;vertical-align:top">
                                                                                                                    <img alt="Coverage icon"
                                                                                                                        src="https://api.joinblueberry.com/icons/coverage.png"
                                                                                                                        border="0"
                                                                                                                        height="70"
                                                                                                                        width="auto"
                                                                                                                        style="border:none;font-size:16px">
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-bottom:20px">
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        <span
                                                                                                                            style="font-size:19px;line-height:30px">
                                                                                                                            Your
                                                                                                                            coverage
                                                                                                                        </span>
                                                                                                                    </font>
                                                                                                                    <br>
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        Let's
                                                                                                                        double-check
                                                                                                                        your
                                                                                                                        dollar
                                                                                                                        amount
                                                                                                                        and
                                                                                                                        policy
                                                                                                                        length
                                                                                                                        to
                                                                                                                        make
                                                                                                                        sure
                                                                                                                        you're
                                                                                                                        getting
                                                                                                                        the
                                                                                                                        best
                                                                                                                        rate.
                                                                                                                    </font>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td align="left"
                                                                                                                    style="width:90px;margin:0;padding:0;padding-top:0px;vertical-align:top">
                                                                                                                    <img alt="Question icon"
                                                                                                                        src="https://api.joinblueberry.com/icons/questions.png"
                                                                                                                        border="0"
                                                                                                                        height="70"
                                                                                                                        width="auto"
                                                                                                                        style="border:none;font-size:16px">
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-bottom:20px">
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        <span
                                                                                                                            style="font-size:19px;line-height:30px">
                                                                                                                            Your
                                                                                                                            questions
                                                                                                                        </span>
                                                                                                                    </font>
                                                                                                                    <br>
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        Anything
                                                                                                                        you're
                                                                                                                        confused
                                                                                                                        by
                                                                                                                        or
                                                                                                                        unsure
                                                                                                                        about?
                                                                                                                        We'll
                                                                                                                        help.
                                                                                                                    </font>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- QUOTES STARTS -->

                                    <table border="0" cellpadding="0" cellspacing="0"
                                        style="margin:0 auto;text-align:left;width:90%">
                                        <tbody>
                                            <tr>
                                                <td style="margin:0;padding:0;padding-bottom:35px;padding-top:0px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        style="width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:26px;font-weight:bold;line-height:34p;margin:0;padding:0;padding-bottom:10px">

                                                                    <% if(term == 'fex') { %>
                                                                    <font face="Arial">Your quotes for
                                                                        $<%= coverage_amount %> / Final Expense</font>
                                                                    <% } else { %>
                                                                    <font face="Arial">Your quotes for
                                                                        $<%= coverage_amount %> / <%= term %> years
                                                                    </font>
                                                                    <% } %>
                                                                </td>
                                                            </tr>
                                                            <!-- <tr>
                                                                <td
                                                                    style="font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:13px;line-height:21px;margin:0;padding:0">
                                                                    <a href="http://links.policygenius.com/u/click?_t=3c9c36a43f93407bb05fb61e2d245389&amp;_m=6e96fde2f80a46fe8a0d749b0be66f2f&amp;_e=XLipX0gQgQPhBr5qROl2sxwD7MeH-2Ml-7tL1AsLAGVrttYVkPVWZ_VrafLoi23v-Y0Lks0XYm0tUvAWJbEvItRLqmAIklxd8GHqK8GR_aqDMQQ0oeMXQEFKR08G51HX7xrZXK6IqyjOFbCMhLt148aNHZBMKX8cZaspkFSkux6egh1rPkgslKDiQqkHSa3MTLrJitmEUrB1Ov08322TZPEbnUGbrO6RDynrGfO0yyFpXPTCoeThjEbvHVYSNOjNEyrtO98Ph6w9xu2xc2xRz-4etwSVJlsIPE6aheETGbkA7tKnj9GmZQg1UNfdFlqBlGYe2HJqNP5Rt1Ah9SdY3dPoCw_pyIghXX7X7fyqD-WewkZaV3uj6ipNpYR0fSvxMmVEir7yVQMoyvTCWvfY-93iW0XUOgDPGyxBveOuw9gzY_xIzUJcNiOVy6KYRmW6nHd517NDvZkMrtnmvbZsLnWiRvNgiR376OoYP4ZA0PfskiuZCeitmOifRF0WfwFCsczMuODqjod24Sb2GKmT_VtvOkgVqoI1iEJWAkD_k1pdlTEjDEk9ycvLJKQWyYysny3V1cP0H2NBM_XoAY5qKuyqRIZcngtuF1kHFAX5ua1JJJ8zAudNo75C4o5QM2q0X65lZq9g1-sUXz9Y_LNH2v98jn1AQ_eajuaXgTIy1LrMDTrwRHqeFg3_nu5Dbo0XUkXmQ2-7rJPsGoS3qm54CF174hjPV1K8E64izY7wgb2KM_TQKrrMPaHdDQZF3Akb-hErQPsk37UKYBwYakCc82cgksop0Z4EqIJq-jc2deI%3D"
                                                                        style="color:#ff700a;text-decoration:none"
                                                                        rel="noreferrer" target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=http://links.policygenius.com/u/click?_t%3D3c9c36a43f93407bb05fb61e2d245389%26_m%3D6e96fde2f80a46fe8a0d749b0be66f2f%26_e%3DXLipX0gQgQPhBr5qROl2sxwD7MeH-2Ml-7tL1AsLAGVrttYVkPVWZ_VrafLoi23v-Y0Lks0XYm0tUvAWJbEvItRLqmAIklxd8GHqK8GR_aqDMQQ0oeMXQEFKR08G51HX7xrZXK6IqyjOFbCMhLt148aNHZBMKX8cZaspkFSkux6egh1rPkgslKDiQqkHSa3MTLrJitmEUrB1Ov08322TZPEbnUGbrO6RDynrGfO0yyFpXPTCoeThjEbvHVYSNOjNEyrtO98Ph6w9xu2xc2xRz-4etwSVJlsIPE6aheETGbkA7tKnj9GmZQg1UNfdFlqBlGYe2HJqNP5Rt1Ah9SdY3dPoCw_pyIghXX7X7fyqD-WewkZaV3uj6ipNpYR0fSvxMmVEir7yVQMoyvTCWvfY-93iW0XUOgDPGyxBveOuw9gzY_xIzUJcNiOVy6KYRmW6nHd517NDvZkMrtnmvbZsLnWiRvNgiR376OoYP4ZA0PfskiuZCeitmOifRF0WfwFCsczMuODqjod24Sb2GKmT_VtvOkgVqoI1iEJWAkD_k1pdlTEjDEk9ycvLJKQWyYysny3V1cP0H2NBM_XoAY5qKuyqRIZcngtuF1kHFAX5ua1JJJ8zAudNo75C4o5QM2q0X65lZq9g1-sUXz9Y_LNH2v98jn1AQ_eajuaXgTIy1LrMDTrwRHqeFg3_nu5Dbo0XUkXmQ2-7rJPsGoS3qm54CF174hjPV1K8E64izY7wgb2KM_TQKrrMPaHdDQZF3Akb-hErQPsk37UKYBwYakCc82cgksop0Z4EqIJq-jc2deI%253D&amp;source=gmail&amp;ust=1601472796101000&amp;usg=AFQjCNEkoWaB6nlTr4-mFNX2Kox__HdH5A">
                                                                        <font face="Arial">View all 7 quotes</font>
                                                                    </a> </td>
                                                            </tr> -->
                                                            <tr>
                                                                <td style="margin:0;padding:0">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="margin:0;padding:10px 20px 0;padding-bottom:10px">
                                                                                    <table style="width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <th
                                                                                                    style="font-weight:normal;text-align:left;width:66%">
                                                                                                    <table
                                                                                                        style="width:100%">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td
                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:23px;margin:0;padding:0;text-align:center;width:33%">
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        Quote
                                                                                                                    </font>
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:23px;margin:0;padding:0;text-align:center;width:66%">
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        Insurer
                                                                                                                    </font>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </th>
                                                                                                <th
                                                                                                    style="font-weight:normal;min-width:160px;text-align:left;width:33%">
                                                                                                    &nbsp;
                                                                                                </th>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <% companies.forEach(function(company, index){ %>
                                                                            <tr>
                                                                                <td
                                                                                    style="margin:0;padding:0;padding-bottom:20px">
                                                                                    <table
                                                                                        style="border:2px solid #d6d6d6;width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <th
                                                                                                    style="font-weight:normal;padding-left:20px;text-align:left;width:66%">
                                                                                                    <table
                                                                                                        style="width:100%">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td
                                                                                                                    style="margin:0;padding:10px 20px 10px 0;width:33%">
                                                                                                                    <table
                                                                                                                        cellpadding="0"
                                                                                                                        cellspacing="0"
                                                                                                                        border="0"
                                                                                                                        style="width:100%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:22px;font-weight:bold;line-height:29px;margin:0;padding:0;text-align:center">
                                                                                                                                    <font
                                                                                                                                        face="Arial">
                                                                                                                                        $<%= company.premium_monthly %>
                                                                                                                                    </font>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="color:#808080;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:12px;font-weight:bold;line-height:17px;margin:0;padding:0;padding-bottom:5px;padding-top:5px;text-align:center">
                                                                                                                                    <font
                                                                                                                                        face="Arial">
                                                                                                                                        MONTHLY
                                                                                                                                    </font>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="margin:0;padding:10px 20px 10px 0;width:66%">
                                                                                                                    <table
                                                                                                                        cellpadding="0"
                                                                                                                        cellspacing="0"
                                                                                                                        border="0"
                                                                                                                        style="width:100%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:18px;font-weight:bold;line-height:29px;margin:0;padding:0;text-align:center">
                                                                                                                                    <font
                                                                                                                                        face="Arial">
                                                                                                                                        <%= company.company_name %>
                                                                                                                                    </font>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </th>
                                                                                                <th
                                                                                                    style="font-weight:normal;padding:0 20px 10px 0;text-align:left;width:33%">
                                                                                                    <table
                                                                                                        style="width:100%">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td
                                                                                                                    style="margin:0;padding:0;text-align:center;vertical-align:top">
                                                                                                                    <a 
                                                                                                                        href="tel:+18339282583"
                                                                                                                        style="background-color:#336699;border:2px solid #336699;color:#ffffff;display:inline-block;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:12px;font-weight:bold;letter-spacing:1px;line-height:50px;min-width:140px;padding:0 10px;text-align:center;text-decoration:none;cursor:pointer;"
                                                                                                                        rel="noreferrer"
                                                                                                                        target="_blank">
                                                                                                                        <font
                                                                                                                            face="Arial">
                                                                                                                            CALL
                                                                                                                            NOW
                                                                                                                        </font>
                                                                                                                    </a>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </th>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <% }); %>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- QUOTES END -->

                                    <!-- CONTENT END -->

                                    <!-- FOOTER STARTS -->
                                    <table border="0" cellpadding="0" cellspacing="0"
                                        style="margin:0 auto;text-align:left;width:90%">
                                        <tbody>
                                            <tr>
                                                <td style="margin:0;padding:0;padding-bottom:40px;padding-top:20px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        style="width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="margin:0;padding:0">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="color:#808080;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:13px;line-height:21px;margin:0;padding:0;padding-right:20px;vertical-align:top">
                                                                                    <font face="Arial">
                                                                                        <span
                                                                                            style="color:#336699;display:inline-block;font-size:13px;font-weight:bold;line-height:21px;padding-bottom:0px">
                                                                                            Blueberry
                                                                                        </span>
                                                                                    </font>
                                                                                    <br>
                                                                                    <font face="Arial">
                                                                                        <span>
                                                                                            <span
                                                                                                style="color:#808080;text-decoration:none"
                                                                                                rel="noreferrer"
                                                                                                target="_blank">
                                                                                                Address:

                                                                                                Blueberry Insurance
                                                                                                358 Blackstone Dr.
                                                                                                San Rafael, CA 94903
                                                                                                USA
                                                                                            </span>
                                                                                        </span>
                                                                                        <br>
                                                                                    </font>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- FOOTER END -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>